* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;

}


body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #fef08a 0%, #86efac 100%);
    place-items: center;
    display: grid;
    padding-top:70px;
}


.logo{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    padding:10px 30px;
    align-items:center;
    gap:30px;
    background:rgba(231, 236, 240, 0.5);
    backdrop-filter:blur(10px);
    z-index:999;


}


.logo img{
    height:60px;
    width:60px;
    object-fit:cover;
    border-radius:50%;
    object-position:top;
}

.logo h2{
    color:#333;
    font-weight:600;
    font-size:1.7rem;
}

.box {
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 23px;
}


.box .top-part {
    width: 100%;
    position: relative;
}

.top-part .title-part {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-part h2 {
    font-size: 2rem;
    font-family: "Gill sans", sans-serif;
    opacity:.6;
}

hr{
    margin:20px 0;
}

.title-part .sound{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.title-part .sound span{
    margin-right:10px;
    opacity:.7;
}

input[type="checkbox"]{
    width:53px;
    height:30px;
    appearance:none;
    border-radius:40px;
    background-color:#fff;
    position:relative;
    cursor:pointer;
    border:1px solid rgba(0, 0, 0, 0.1);
    transition-duration:300ms;
}

input[type="checkbox"]::before{
    position:absolute;
    content:"";
    width:30px;
    height:30px;
    top:0;
    left:0;
    border-radius:50%;
    background-color:rgba(225, 225 , 225 );
    transition-duration:300ms;
    box-shadow:0 0 10px rgba(0, 0,  0, 0.225);
}


input[type="checkbox"]:checked{
    background-color:#a7f3d0;
}


input[type="checkbox"]:checked::before{
    left:23px;
}


.type-content input{
    position:absolute;
    z-index:-999;
    opacity:0;
    
}

.type-content p{
    font-size:1.4rem;
    letter-spacing:2px;
    word-spacing:2px;
    text-align:justify;
    opacity:.7;
    line-height:1.2;
}


.bottom-part{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    padding:20px;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.1);

}

.bottom-part p{
    font-size:1.1rem;
}


.bottom-part button{
    padding:10px 20px;
    cursor:pointer;
    background-image:linear-gradient(45deg, #adf0e5 0%, #c7dace 100%);
    color:#333;
    outline:none;
    border:none;
    border-radius:5px;
    transition-duration:200ms;



}


.bottom-part button:hover{
    transform:scale(1.1);
}


::selection{
    background-color:#d8f3dc;
    color:#fff;

}

.correct{
    color:rgb(78, 218, 78);
}

.incorrect{
    color:#bd5050;
}

.active{
    opacity:.6;
    position: relative;

}

.active::before{
    position:absolute;
    content:"";
    right:0;
    width: 2px;
    opacity:0;
    height:100%;
    background-color:rgba(0, 0, 0, 0.89);
    animation:blink .5s linear infinite;
}

@keyframes blink{
    50%{
        opacity:1;
    }
}


footer{
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:12px;
    gap:7px;
    
}


.ftr-text{
    font-size:1.3rem;
    color:#333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.github-link{
    color:black;
    text-decoration:none;
    font-size:1.5rem;
}


.github-link:hover{
    transform:scale(1.2);
}